[submodule "eurorack"]
	path = eurorack
	url = git@github.com:phi-line/eurorack.git
[submodule "mutable-instruments-documentation"]
	path = mutable-instruments-documentation
	url = git@github.com:pichenettes/mutable-instruments-documentation.git
